@import './index.css';

.center {
  width: 100%;
}

.arrangement {
  --grid-cell-size: 150px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(var(--half-colls-count), var(--grid-cell-size)) 1fr repeat(var(--half-colls-count), var(--grid-cell-size));
  grid-template-rows: repeat(var(--total-rows-count), var(--grid-cell-size));
  place-items: center;
}

.person {
  width: 100px;
  height: 100px;
  /* background-color: red; */
}

.overlay {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
}

.overlay.show {
  display: flex;
}