:root {
    --font-primary: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  max-width: 960px;
}